.smPadding5_15{
    padding: 5px;
}

.smTextAlignLeftRight {
    text-align: left;
}

.mdTextAlignLeftRight{
    text-align: left;
}

.smTextAlignLeftCenter {
    text-align: left;
}

.gridSpaceContainer{
    padding: 15px;
    border-radius: 8px;
}

.gridSpaceContainer > div{
    background-color: #e0e0e017;
    border: 1px solid #8888887d;
    border-radius: 5px;
    padding: 8px;
    overflow: auto;
    box-shadow: 0px 0px 10px #888888;
}

@media only screen and (min-width: 600px) {
    .smTextAlignLeftRight {
        text-align: right;
    }

    .smTextAlignLeftCenter {
        text-align: center;
    }
    
    .smPadding5_15{
        padding: 15px;
    }

    .gridSpaceContainer{
        height: 100%;
    }

    .gridSpaceContainer > div{
        height: 100%;
    }

    .tableContainerGridBox{
        padding: 0px 20px;
    }
}

@media only screen and (min-width: 960px) {
    .mdTextAlignLeftRight {
        text-align: right;
    }
}

.fileInput{
    width: 180px;
    padding: 10px 0px;
    /*padding: 10px;
    margin: 15px;
    cursor: pointer;*/
}

.imgPreview{
    text-align: center;
    width: auto;
}
 
.imgPreview img {
    width: 200px;
    border: 3px solid #b9b9b9;
    border-radius: 5px;
}

.previewText{
    width: 100%;
    margin-top: 20px;
}

.popupLabelText{
    padding: 5px;
    font-size: 20px;    
}

.popupLabelValue{
    padding: 5px;
    font-size: 18px;
}

.overlayImageView {
    position: absolute;
    right: 100%;
    width: 500px;
    height: 300px;
    display: inline-block;
    background-repeat: no-repeat;
}

.gridSpaceForm{
    padding: 10px 15px;
}

.predictionDataLabel{
	color: #ff6c64;
}